@charset "utf-8";
body,h1,h2,h3,h4,h5,h6,p{
    margin:0;
}
body{
    font-family:'NotoSans',sans-serif;
    font-weight:300;
}
ul,dl,dt,dd{
    margin:0;
    padding:0;
    list-style:none;
}
a{
    text-decoration:none;
    -webkit-tap-highlight-color:transparent;
}
.cf:after{
    content:"";
    display:block;
    clear:both;
}
.inner{
    width:1200px;
    margin:0 auto;
}



/*헤더시작*/
#header{
    padding:20px 20px;
    height:50px;
    position:relative;
}
#header h1{
    position:fixed;
    z-index:1;
    width:55px;
    height:51px;
    background:url(../../../images/common/logo_off2.png) no-repeat;
    text-indent:-9999px;
}
#header h1:hover{
    background:url(../../../images/common/logo_on.png) no-repeat;
}
#header h1 a{
    height:100%;
    display:block;
}



/*pannel시작*/
.pannel{
    position:fixed;
    z-index:10;
    top:20px;
    right:20px;
    width:48px;
    height:48px;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.hamburger .line{
  width: 25px;
  height: 2px;
  background-color: #000;
  display: block;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.hamburger .line.margin{
    margin-top:17px;
}
.hamburger{
    width:50px;
    height:51px;
    border:1px solid #000;
    border-radius:50%;
}

.hamburger:hover{
  cursor: pointer;
}

/* ONE */

#hamburger-1.is-active .line:nth-child(2){
  opacity: 0;
}
#hamburger-1.is-active .line{
    background-color:#fff;
}
#hamburger-1.is-active{
    border:1px solid #fff;
    border-radius:50%;
}

#hamburger-1.is-active .line:nth-child(1){
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(7px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3){
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-7px) rotate(-45deg);
}




/*position:absolute;
    left:50%;
    margin-left:-258px;
    top:50%;
    margin-top:-258px;*/

/*menuWrap시작*/
.menuWrap{
    position:fixed;
    left:0;
    top:0;
    z-index:1; 
    width:100%;
    height:0;
    overflow:hidden;
    background:#000;
    transition:all 0.7s;
}
.menuBackground{
    width:517px;
    height:0;
    position:absolute;
    top:50%;
    margin-top:-258px;
    left:50%;
    margin-left:-258px;
}
.menuHeight{
    height:100%;
}

.menuWrap p{
    width:517px;
    height:103px;
    text-align:center;
    background:#000;
    font-size:70px;
    font-weight:500;
    margin-bottom:40px;
}
.menuWrap p a{
    color:#fff;
}
.menuWrap a.button{
  border:none;
  position:relative;
  padding:0 1em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
.menuWrap a.button:before,a.button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #fff;
  transition:400ms ease all;
}
.menuWrap a.button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
a.button:hover:before,a.button:hover:after{
  width:100%;
  transition:800ms ease all;
}

















































